In [1]:
import pandas as pd
print(pd.__version__)
print(pd.__name__)

import numpy as np #импорт библиотеки для мат. вычислений

1.4.3
pandas

## UNIT 2

In [5]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [7]:
countries1 = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name='Countries'  
)
display(countries1)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: Countries, dtype: object

In [10]:
print(countries.loc['RU'])
print()
print(countries.loc[['US', 'RU', 'UK']])

Россия

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

In [12]:
print(countries.iloc[1:3])
print(countries['UK'])

CA    Канада
US       США
Name: countries, dtype: object
Англия

Задание 2.4

In [20]:
def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    return pd.Series(
        data = counts,
        index = names,
        name = 'medications'
    )

   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    print(medications[name], medications.sum())
    return (medications[name]/medications.sum()*100)


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    display(medications)
    print(get_percent(medications, "chlorhexidine")) #37.5

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64

15 40
37.5

## UNIT 3

In [23]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [22]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [26]:
countries_df.mean(axis=0)

C:\Users\kot\AppData\Local\Temp\ipykernel_47888\3431774556.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [27]:
countries_df.mean(axis=1)

C:\Users\kot\AppData\Local\Temp\ipykernel_47888\555943002.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [32]:
display(countries_df.population)
display(countries_df['population'].sum())

type(countries_df.population)

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

634.9

pandas.core.series.Series

In [36]:
display(countries_df.loc['UK', 'square'])
display(countries_df.loc['RU', ['population', 'square']])
display(countries_df.loc[['UK','RU'],['population', 'square']])
display(countries_df.iloc[4:8, 1:3])

133396

population      146.24
square        17125191
Name: RU, dtype: object

    population    square
UK       56.29    133396
RU      146.24  17125191

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

Задание 3.5

In [49]:
def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame(
        {
            'Income': income,
            'Expenses': expenses,       
        },
        index = years,
    )
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    #ваш код здесь
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        return None
    
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74
    print(get_profit(scienceyou, 2000))

-74
None

## UNIT 4

to_csv()

        path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
        sep — разделитель данных в выходном файле (по умолчанию ',');
        decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
        columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
        index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [52]:
countries_df.to_csv('data/counties.csv', index=False, sep=';')

read_csv()

        filepath_or_buffer — путь до файла, который мы читаем;
        sep — разделитель данных (по умолчанию ',');
        decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');

        names — список с названиями столбцов для чтения;
        skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [58]:
countries_data = pd.read_csv('data/counties.csv', sep=';')
#countries_data = pd.read_csv('data/counties.csv', sep=';', skiprows=lambda x: x in [0, 2] )
countries_data.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
countries_data

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902



Методы для записи таблиц в файлы отличных от csv форматов:

        to_excel() — запись DataFrame в формат Excel-таблицы (.xslx); 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html

        to_json() — запись DataFrame в формат JSON (.json);
        to_xml() — запись DataFrame в формат XML-документа (.xml);
        to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

Методы для чтения таблиц из файлов в отличных от csv форматах:

        read_excel() — чтение из формата Excel-таблицы(.xslx) в DataFrame;
        read_json() — чтение из формата JSON (.json) в DataFrame;
        read_xml() — чтение из формата XML-документа (.xml) в DataFrame;
        read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).